oxos_altium_desgin_reviewer.json
{
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "bde975a0-f192-430c-801d-b90aa53ec546",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2672,
        1232
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "fb04e146-5436-4c3b-9225-98cbddd1aeba",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        272
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 1427,
        "width": 3073,
        "color": 5
      },
      "id": "59c6c364-481e-483a-9dc4-82c22179845b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        976
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "63b8025f-1423-4c32-a1d4-ebb28f47642a",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        1824
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9SB9TpUC3k7VsFaK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1pJWY5FDSamIzCPMU9ymh7pVKyS0yyJQJ",
          "mode": "list",
          "cachedResultName": "ES-10003",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pJWY5FDSamIzCPMU9ymh7pVKyS0yyJQJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "920b6a67-99d4-4074-99cc-ac5bb0503d12",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        1824
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9SB9TpUC3k7VsFaK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1pJWY5FDSamIzCPMU9ymh7pVKyS0yyJQJ",
          "mode": "list",
          "cachedResultName": "ES-10003",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pJWY5FDSamIzCPMU9ymh7pVKyS0yyJQJ"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "a416af88-0873-474b-b119-14fb4111e6df",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        2208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9SB9TpUC3k7VsFaK",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "e2e10ff9-b71f-417c-8a4c-511944380971",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2320,
        2256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "bee0e327-3c82-4269-b2cc-cccaaa5d7db6",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        656,
        368
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "35293062-2b5d-4576-a11d-a4a2deeb3c1f",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        1824
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "P94vPJCnZZ2jcbeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "819d7bb4-c1bf-46b2-b9e0-d7ccfefc51f5",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        1824
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "7df27092-1fab-473d-8d7b-b71c49480463",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3355fc4d-f37e-4d17-aaf3-292170d876e9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1536,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "140e219d-9c6b-466a-99ab-2b78d81a9c62",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        352
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "dbd41918-71f2-459d-b5ad-16ade62df775",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        256
      ],
      "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "955e74b0-a3f1-4793-bce3-32c905a3fba4",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2320,
        1168
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "547ca228-b923-4340-9840-b01ba0f93262",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2096,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "f2eb1e9c-193b-44d5-b9bd-688a8957f9e4",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2752,
        1440
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "2aef27a3-c1ba-4bf8-9d59-35fe3562a09b",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2320,
        1520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."
        }
      },
      "id": "9e520c5e-a58a-4607-acaf-9aea65558c37",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        768,
        144
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "net-file-condition",
                    "leftValue": "={{ $node[\"Set File ID\"].json.file_title }}",
                    "rightValue": ".NET",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith",
                      "name": "filter.operator.endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6166ebd5-ab9d-4562-a062-b14cfa2232b8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ada42c4-4f4b-425c-9a83-0955caf40293",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 5
        }
      },
      "id": "de032fae-80ad-4657-8229-2f79b1d44de5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1648,
        1776
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "347236af-358c-48d7-8938-09fccd26e192",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2576,
        1008
      ],
      "credentials": {
        "supabaseApi": {
          "id": "P94vPJCnZZ2jcbeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "range": "A7:Z1048576",
          "sheetName": "BOM"
        }
      },
      "id": "1befd9aa-690d-4f95-b40c-d5aece28c323",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1872,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        1728
      ],
      "id": "6798216e-c3b9-47f9-b3a3-d0f1d8141795",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1872,
        1824
      ],
      "id": "ce8d958b-51cb-4038-b03a-dcb2a63dbc2c",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "jsCode": "// Parse Altium Netlist (.NET file) - WITH DEBUGGING\ntry {\n  console.log('=== NETLIST PARSER START ===');\n  \n  // Get file data - try different formats\n  let content = '';\n  \n  const inputData = $input.first();\n  console.log('Input data structure:', JSON.stringify(inputData, null, 2));\n  console.log('Input data keys:', Object.keys(inputData));\n  \n  if (inputData.binary) {\n    console.log('Binary data detected');\n    console.log('Binary keys:', Object.keys(inputData.binary));\n    console.log('Binary.data type:', typeof inputData.binary.data);\n    console.log('Binary.data keys (if object):', inputData.binary.data ? Object.keys(inputData.binary.data) : 'null');\n  }\n  \n  // Try to get content from different possible sources\n  if (inputData.binary && inputData.binary.data) {\n    console.log('Attempting binary data extraction...');\n    // File is in binary format - handle different binary data structures\n    if (typeof inputData.binary.data === 'string') {\n      console.log('Binary data is string, length:', inputData.binary.data.length);\n      // Direct base64 string\n      content = Buffer.from(inputData.binary.data, 'base64').toString('utf-8');\n      console.log('Converted from base64 string');\n    } else if (inputData.binary.data.data && typeof inputData.binary.data.data === 'string') {\n      console.log('Binary data nested in .data property, length:', inputData.binary.data.data.length);\n      // Binary data nested in .data property\n      content = Buffer.from(inputData.binary.data.data, 'base64').toString('utf-8');\n      console.log('Converted from nested base64 string');\n    } else if (Buffer.isBuffer(inputData.binary.data)) {\n      console.log('Binary data is already a Buffer');\n      // Already a Buffer\n      content = inputData.binary.data.toString('utf-8');\n    } else {\n      console.log('Binary data is object, attempting Object.values conversion');\n      console.log('Object.values length:', Object.values(inputData.binary.data).length);\n      // Try to convert object to Buffer\n      content = Buffer.from(Object.values(inputData.binary.data)).toString('utf-8');\n    }\n  } else if (inputData.json && inputData.json.data) {\n    console.log('Using json.data');\n    // File content is in json.data\n    content = inputData.json.data;\n  } else if (typeof inputData.json === 'string') {\n    console.log('Using direct json string');\n    // File content is directly in json\n    content = inputData.json;\n  } else {\n    console.log('Searching for content in json properties...');\n    // Fallback - try to find content in any property\n    const keys = Object.keys(inputData.json || {});\n    console.log('JSON keys to search:', keys);\n    for (const key of keys) {\n      if (typeof inputData.json[key] === 'string' && inputData.json[key].includes('Component List')) {\n        console.log('Found content in key:', key);\n        content = inputData.json[key];\n        break;\n      }\n    }\n  }\n  \n  console.log('Content extracted, length:', content.length);\n  console.log('Content preview (first 200 chars):', content.substring(0, 200));\n  \n  if (!content) {\n    console.log('ERROR: No content found!');\n    return [{ json: { error: 'No file content found', inputData: inputData } }];\n  }\n  \n  const lines = content.split('\\n').map(line => line.trim()).filter(line => line.length > 0);\n  console.log('Total lines after filtering:', lines.length);\n  console.log('First 5 lines:', lines.slice(0, 5));\n  \n  const components = [];\n  const netConnections = [];\n  \n  let currentSection = '';\n  let currentNet = null;\n  let currentNetId = null;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    \n    // Detect sections\n    if (line === '<<< Component List >>>') {\n      console.log('Found Component List section at line', i);\n      currentSection = 'components';\n      continue;\n    }\n    if (line === '<<< Wire List >>>') {\n      console.log('Found Wire List section at line', i);\n      currentSection = 'wires';\n      continue;\n    }\n    \n    // Skip headers and empty lines\n    if (line.startsWith('NODE') || line.startsWith('Wire List') || line === '') {\n      continue;\n    }\n    \n    if (currentSection === 'components') {\n      // Parse component line: PART_NUMBER DESIGNATOR FOOTPRINT\n      const parts = line.split(/\\s+/);\n      if (parts.length >= 3) {\n        const component = {\n          component_type: 'component',\n          part_number: parts[0],\n          designator: parts[1], \n          footprint: parts[2],\n          value: parts[0]\n        };\n        components.push(component);\n        if (components.length <= 3) {\n          console.log('Added component:', component);\n        }\n      }\n    }\n    \n    if (currentSection === 'wires') {\n      // Parse net header: [NETID] NET_NAME\n      const netMatch = line.match(/^\\[(\\d+)\\]\\s+(.+)$/);\n      if (netMatch) {\n        currentNetId = netMatch[1];\n        currentNet = netMatch[2];\n        if (netConnections.length < 3) {\n          console.log('Found net:', currentNetId, currentNet);\n        }\n        continue;\n      }\n      \n      // Parse connection line: DESIGNATOR PIN_NUM PIN_NAME PIN_TYPE PART_VALUE\n      if (currentNet && line.includes('  ')) {\n        const parts = line.split(/\\s+/).filter(p => p.length > 0);\n        if (parts.length >= 5) {\n          const connection = {\n            component_type: 'net_connection',\n            net_name: currentNet,\n            net_id: currentNetId,\n            designator: parts[0],\n            pin_number: parts[1],\n            pin_name: parts[2],\n            pin_type: parts[3],\n            part_value: parts.slice(4).join(' ')\n          };\n          netConnections.push(connection);\n          if (netConnections.length <= 3) {\n            console.log('Added connection:', connection);\n          }\n        }\n      }\n    }\n  }\n  \n  console.log('Parsing complete!');\n  console.log('Total components found:', components.length);\n  console.log('Total connections found:', netConnections.length);\n  \n  // Combine all data\n  const allData = [...components, ...netConnections];\n  console.log('Total data items:', allData.length);\n  \n  if (allData.length === 0) {\n    console.log('ERROR: No data parsed!');\n    return [{ json: { error: 'No components or connections parsed', linesCount: lines.length, firstLines: lines.slice(0, 10) } }];\n  }\n  \n  console.log('Returning', allData.length, 'items');\n  console.log('=== NETLIST PARSER END ===');\n  \n  return allData.map(item => ({ json: item }));\n  \n} catch (error) {\n  console.log('ERROR in parser:', error.message);\n  console.log('Stack:', error.stack);\n  return [{ json: { error: error.message, stack: error.stack } }];\n}"
      },
      "id": "abc399d4-f14b-415e-9733-f2b3a1792e0b",
      "name": "Parse Netlist File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        2064
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "netlist-schema-id",
              "name": "schema",
              "value": "={{ JSON.stringify(Object.keys($json)) }}",
              "type": "string"
            },
            {
              "id": "netlist-data-id",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        2064
      ],
      "id": "a861be5b-7413-4744-b498-5ee15330c092",
      "name": "Set Netlist Schema"
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        640
      ],
      "typeVersion": 1,
      "id": "b03aef23-73fd-4496-9fef-652c6437a28b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        304,
        784
      ],
      "id": "c4a04301-df30-40d4-874b-1180149a7fbf",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        528,
        784
      ],
      "id": "f4940f0b-e8f7-42bc-adb6-cecd9c67500e",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        784,
        368
      ],
      "id": "bf9f7b4a-48fd-4afc-922e-3756d55f2f15",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        912,
        368
      ],
      "id": "785266dd-e6ad-443a-b35c-156fb53c180f",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1040,
        368
      ],
      "id": "244c8a93-7f80-4c02-994e-56fa50c65c91",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1168,
        368
      ],
      "id": "cb7494e8-8aad-4c56-a686-ca639dcef64b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "P94vPJCnZZ2jcbeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        1824
      ],
      "id": "a72e37bc-ac4b-456a-9c83-ea40376eb9d2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        80,
        784
      ],
      "id": "8ec0d991-0230-4088-b0e4-ac1811dee1c8",
      "name": "Create Documents Table and Match Function",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        1824
      ],
      "id": "63920193-dfb7-4be8-bacf-5e48af827b45",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "P94vPJCnZZ2jcbeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        1824
      ],
      "id": "185dad4e-2d85-4c6b-8f50-22e3109c3958",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2288,
        1776
      ],
      "id": "629e0981-e325-46ca-be66-47d484990ad9",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3040,
        2032
      ],
      "id": "e8e7493c-c3bb-45a5-98dd-12d1739c95a6",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "trjphqltdgeouX2W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!",
        "height": 1320,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        80
      ],
      "typeVersion": 1,
      "id": "cc0ddd4e-0871-42ac-8412-97547af4194f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        368
      ],
      "id": "0e4cd4f8-0c1b-4d4e-b150-0f009b36f113",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DkDQ7TvefpIuGSdF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        576
      ],
      "id": "818889a0-124d-48e9-b391-39445c71d800",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "DkDQ7TvefpIuGSdF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2544,
        1232
      ],
      "id": "683d81ca-ee26-4e4a-99d1-ba975ccdfa94",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "DkDQ7TvefpIuGSdF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Parse Netlist File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Netlist File": {
      "main": [
        [
          {
            "node": "Set Netlist Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Netlist Schema": {
      "main": [
        [
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Metadata Table": {
      "main": [
        [
          {
            "node": "Create Document Rows Table (for Tabular Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Documents Table and Match Function": {
      "main": [
        [
          {
            "node": "Create Document Metadata Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "File Created": [
      {
        "parents": [
          "1pJWY5FDSamIzCPMU9ymh7pVKyS0yyJQJ"
        ],
        "lastModifyingUser": {
          "displayName": "David Stonely",
          "kind": "drive#user",
          "me": true,
          "permissionId": "05513041960761438055",
          "emailAddress": "david.stonely@oxos.com",
          "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKGLlaF9DVWPKnMSEn1TDscpaXDRt6x0M686nAtK7RHMuX2HV4=s64"
        },
        "spaces": [
          "drive"
        ],
        "capabilities": {
          "canAddChildren": false,
          "canAddFolderFromAnotherDrive": false,
          "canChangeCopyRequiresWriterPermission": false,
          "canChangeItemDownloadRestriction": false,
          "canChangeSecurityUpdateEnabled": false,
          "canChangeViewersCanCopyContent": false,
          "canComment": true,
          "canCopy": true,
          "canDelete": false,
          "canDeleteChildren": false,
          "canDisableInheritedPermissions": false,
          "canDownload": true,
          "canEdit": true,
          "canEnableInheritedPermissions": false,
          "canListChildren": false,
          "canModifyContent": true,
          "canModifyContentRestriction": true,
          "canModifyEditorContentRestriction": true,
          "canModifyOwnerContentRestriction": false,
          "canModifyLabels": true,
          "canMoveChildrenOutOfTeamDrive": false,
          "canMoveChildrenOutOfDrive": false,
          "canMoveChildrenWithinTeamDrive": false,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": false,
          "canMoveItemOutOfTeamDrive": false,
          "canMoveItemOutOfDrive": false,
          "canMoveItemWithinTeamDrive": true,
          "canMoveItemWithinDrive": true,
          "canMoveTeamDriveItem": false,
          "canReadLabels": true,
          "canReadRevisions": true,
          "canReadTeamDrive": true,
          "canReadDrive": true,
          "canRemoveChildren": false,
          "canRemoveContentRestriction": false,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canTrashChildren": false,
          "canUntrash": true
        },
        "permissionIds": [
          "13869800660937576774",
          "07759194800616956591",
          "03323716345015349851",
          "12542024590566850514",
          "01337589122606630646",
          "11781269639742575264",
          "16069802099533379937",
          "06452896194605984771",
          "17794572161620900101",
          "10990375451875778108",
          "09595093453105849264",
          "00997163088429844840",
          "01456272882595136186",
          "02729677687396226797",
          "06465746027288917297",
          "05230782316048091449",
          "00907502497162521127",
          "02675652000756597145",
          "08578615499961865403"
        ],
        "linkShareMetadata": {
          "securityUpdateEligible": false,
          "securityUpdateEnabled": true
        },
        "downloadRestrictions": {
          "itemDownloadRestriction": {
            "restrictedForReaders": false,
            "restrictedForWriters": false
          },
          "effectiveDownloadRestrictionWithContext": {
            "restrictedForReaders": false,
            "restrictedForWriters": false
          }
        },
        "kind": "drive#file",
        "id": "1I6fF5pDXLmztKKkjj5cGWSWpjq5H6fGh",
        "name": "ES-10003-NET-REVC.NET",
        "mimeType": "application/octet-stream",
        "starred": false,
        "trashed": false,
        "explicitlyTrashed": false,
        "version": "2",
        "webContentLink": "https://drive.google.com/uc?id=1I6fF5pDXLmztKKkjj5cGWSWpjq5H6fGh&export=download",
        "webViewLink": "https://drive.google.com/file/d/1I6fF5pDXLmztKKkjj5cGWSWpjq5H6fGh/view?usp=drivesdk",
        "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/octet-stream",
        "hasThumbnail": false,
        "thumbnailVersion": "0",
        "viewedByMe": true,
        "viewedByMeTime": "2025-08-13T21:51:00.661Z",
        "createdTime": "2025-08-13T21:51:00.661Z",
        "modifiedTime": "2024-08-19T16:04:17.000Z",
        "modifiedByMeTime": "2024-08-19T16:04:17.000Z",
        "modifiedByMe": true,
        "teamDriveId": "0AOrWxAKJP1wqUk9PVA",
        "driveId": "0AOrWxAKJP1wqUk9PVA",
        "viewersCanCopyContent": true,
        "copyRequiresWriterPermission": false,
        "hasAugmentedPermissions": false,
        "originalFilename": "ES-10003-NET-REVC.NET",
        "fullFileExtension": "NET",
        "fileExtension": "NET",
        "md5Checksum": "7730fffddfbf3f3d395512d52e40fd68",
        "sha1Checksum": "02f6968d3fd5cf8023ee4f135b691662d396d9ad",
        "sha256Checksum": "acab9963f2d6e2b492beeecaf0dcd20987129878209c67617c53f6cd197e1556",
        "size": "224205",
        "quotaBytesUsed": "224205",
        "headRevisionId": "0BzguXyEkYUReR0xaQWhTMXdMWS9DUForL3E2RlcraEVSZ2cwPQ",
        "isAppAuthorized": false,
        "inheritedPermissionsDisabled": false
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef7dc664e94de35733f61681dfdb4f2808a4c8d90666a0f6c630f556eed5e79a"
  }
}